h1,h2,h3,p,ul{
    margin:0;
    padding:0;
}
body {
    font-family: 'Roboto';
    --headline-color: #212121;
    --article-color: #757575;
    --brand-color: #2196F3;
    margin: 0px;
}
/* шапка */
.page-header {
    background-color: #ffffff;
    width: 100%;
}

.page-header-section {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color : #000000;
    display: inline-block;
    padding: 0px;
    margin-right: 90px;
}


.logo-color {
    color: var(--brand-color);
}

.site-nav-list {
    list-style: none;
}

.site-nav-list-item-link {
    text-decoration: none;
    color: var(--headline-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.site-nav-list-item-link:hover, .site-nav-list-item-link:focus {
    color: var(--brand-color);
}

.tel {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--article-color);
    text-decoration: none;
    margin-right: 50px;
}

.mail {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--article-color);
}

.mail:hover, .mail:focus {
    color: var(--brand-color);
}

.tel:hover, .tel:focus {
    color: var(--brand-color);
}


/* друга секція */
.main {
    width: 100%;
}

.main-effect {
    background-color: #2F303A;
    width: 100%;
    min-height: 600px;
}

.main-effect-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.main-effect-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    min-width: 170px;
    height: 50px;
    color: #ffffff;
    background-color: var(--brand-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* третя секція */
.qualities {
    width: 1200px;
    margin: 0 auto;
}
.qualities-list {
    list-style: none;
}
.qualities-list-item {
    width: 270px;
}

.qualities-list-item-article {
    color: var(--headline-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.qualities-list-item-article-text {
    color: var(--article-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* четверта секція */
.employment {
    width: 1200px;
    margin: 0 auto;
}

.employment-headline {
    color: var(--headline-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 50px;
}

.employment-list {
    list-style: none;
}

/* п'ята секція */
.team {
    width: 100%;
    background-color: #f5f4fa;
}

.team-vraper {
    width: 1200px;
    margin: 0 auto;
}

.team-headline {
    color: var(--headline-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 55px;
}

.team-list {
    list-style: none;
    margin: 0 auto;
}

.team-list-item {
    width: 270px;
}

.team-list-item-headline {
    color: var(--headline-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-list-item-image {
    margin: 0 auto;
}

.team-list-item-article {
    color: var(--article-color);
    font-family: 'Roboto';    
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}


/* футер */
.page-footer {
    background-color: #2f303a;
    width: 100%;
    height: 150px;
}

.footer-logo {
    color: #ffffff;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.page-footer-adress {
    color: #ffffff;
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.page-footer-section {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.page-footer-section > .logo {
    color: #ffffff;
}

.page-footer-adress {
    color: #ffffff;
}

.footer-tel, .footer-mail {
    color: rgba(255, 255, 255, 0.6);
}

.portfolio-page-header {
    border-bottom: 1px solid #ececec;
}

.portfolio-page-header-section {
    width: 1200px;
    margin: 0 auto;
}

.portfolio-main {
    width: 100%;
}

.portfolio-main-section {
    width: 1200px;
    margin: 0 auto;
}

.portfolio-list {
   list-style: none;
}

.portfolio-list-item-button {
    color: var(--headline-color);
    background-color: #f5f4fa;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 5px 20px;
    margin: 5px;
    cursor: pointer;
}


.portfolio-list-item-button:hover,
.portfolio-list-item-button:focus {
    background-color: var(--brand-color);
    color: #ffffff;
    cursor: pointer;
}   

.portfolio-projects {
    list-style: none;
}

.portfolio-projects-item-headline {
    color: var(--headline-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
    margin-left: 25px;
    margin-bottom: 10px;
}

.portfolio-projects-item-text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--article-color);
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 20px;
}

