header{
    width : 1600px;
}

.header {
    width: 1140px;
    margin: 0 auto;
}
.color-logo {
    color: #2196F3;
}

.for-busines {
    width: 1600px;
    height: 600px;
    background-color: #2F303A;
}

.for-busines-center {
    width: 1140px;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding-top: 280px;
    font-size: 44px;
    line-height: 60px;
} 
.button {
    
}